@charset "utf-8";
@font-face {
    font-family: centuryGothic;
    src: url(GOTHICB.ttf);
}

/* CSS Document */
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #151515;
	font-family: "Minion Pro";
	/*	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;*/
	background-color: #EFF5F8;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;
	margin: 0;
}

#wrapper {
	width: 100%;
	min-width: 1700px;
	min-height: 100%;
	max-width: 1002px;
	margin-left: auto;
	margin-right: auto;
	max-height: 1300px;
	position: relative;
	margin-top: 0px;
	border-color: #000000;
	border-width: medium;
}
#footer {
	background-color: #000000;
	position: relative;
	height: 180px;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-family: "Minion Pro";
	border-width: medium;
	border-style: solid;
	font-style: italic;
}
a {
	font-weight: bold;
	text-decoration: none;
}
a:link {
	color: #000DFF;
	border-top-left-radius: 0px;
	display: block;
}
a:visited {
	color: #0200FF;
	border-top-left-radius: 10px;
}
a:hover, a:active, a:focus {
	text-decoration: underline;
	border-top-left-radius: 10px;
	display: block;
}
#mainnav ul {
	list-style-type: none;
	padding-left: 33px;
	margin-top: 57px;
	margin-left: 318px;
	font-style: italic;
}
#mainnav a:hover  , #mainnav a:active, #mainnav a:focus, #mainnav a.thispage{
	color: #FFFFFF;
	border-radius: 0em;
	display: block;
	text-decoration: underline;
}

#mainnav a {
	float: left;
	text-align: center;
	color: #FFFFFF;
	display: block;
	padding-left: 21px;
	padding-right: 21px;
	font-size: 45px;
	padding-bottom: 16px;
	padding-top: 16px;
}

#wrapper #content #top {
	position: absolute;
	top: 0px;
	width: 0px;
	height: 190px;
	z-index: 4;
	padding-top: 1%;
	min-width: 1432px;
	width: 100%;
	padding-left: 0px;
	font-family: "Minion Pro";
	background-image: url(1068470_34673790.jpeg);
	background-repeat: no-repeat;
	background-size: 2000px 1000px;
	background-position: 52% 46%;
	max-height: 100%;
	border-width: medium;
	border-style: solid;
	font-style: italic;
}
#BUY_TICKETS {
	left: 0px;
	top: 0px;
	z-index: 52;
	color: #FFFFFF;
	display: block;
	right: 94px;
	float: right;
	border: medium solid #FFFFFF;
	margin-top: -48px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 250px;
	text-align: center;
	border-radius: 10px;
	margin-right: 29px;
	font-size: xx-large;
}
#BUY_TICKETS:hover{
	color: black;
	background-color: white;
	font-style: italic;
	font-size: xx-large;
}

#content #top img {
	float: left;
	margin-left: 8px;
	margin-top: -9px;
}
#content #top #PLAY_FOR_US {
	color: #FFFFFF;
	border-color: #FFFFFF;
	border-style: solid;
	margin-top: -48px;
	float: right;
	margin-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 250px;
	text-align: center;
	border-radius: 10px;
	font-size: xx-large;
}
#content #top #PLAY_FOR_US:hover{
    color:black;
    background-color: white;
}

#content #top #ARTIST_SIGN-UP {
	color: #FFFFFF;
	width: 250px;
	border-style: solid;
	border-color: #FFFFFF;
	float: right;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 36px;
	margin-right: -539px;
	border-radius: 10px;
	position: relative;
	font-size: xx-large;
}

#content #top #ARTIST_SIGN-UP:hover{
    color:black;
    background-color: white;
}
#content #top #BECOME_A_VOLUNTEER {
	color: #FFFFFF;
	border-style: solid;
	border-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: -258px;
	text-align: center;
	float: right;
	margin-top: 37px;
	width: 250px;
	border-radius: 10px;
	position: relative;
	font-size: xx-large;
	padding-right: 0px;
	padding-left: 0px;
}
#content #top #BECOME_A_VOLUNTEER:hover{
    color:black;
    background-color: white;
}

#footer #footer_content h2 {
	text-align: left;
	color: #FFFFFF;
	font-style: italic;
}
#wrapper #footer #footer_content1 {
	color: #FFFFFF;
	text-align: left;
	font-style: italic;
	margin-top: -12px;
	margin-left: 16px;
}
body p {
	position: absolute;
	top: 184px;
	right: 0px;
	left: 375px;
	font-size: large;
}
image {
	top: 0px;
	position: absolute;
}
image body {
	position: absolute;
	top: 0px;
	padding-top: 0px;
}
#wrapper #body #image1 {
	position: relative;
	top: 204px;
	width: 340px;
	height: 155px;
	left: 28px;
	padding-left: 0px;
	float: left;
}
#wrapper #body p two {
	position: fixed;
	top: 142px;
	left: 0px;
}
#wrapper #body li {
	position: fixed;
	top: 362px;
	left: 100px;
	font-size: xx-large;
}
#wrapper #footer #footer_content_links1 {
	color: #FFFFFF;
	font-size: xx-large;
	font-style: italic;
	text-align: left;
	margin-left: 697px;
}
#wrapper #footer #footer_content_links2 {
	color: #FFFFFF;
	font-style: italic;
	font-size: large;
	text-align: left;
	margin-left: 812px;
	margin-top: -115px;
}
#wrapper #footer #sponsors {
	color: #FFFFFF;
	font-style: italic;
	text-align: right;
	position: relative;
	left: 1287px;
	bottom: 154px;
}
#wrapper #footer #sponsor1 {
	margin-right: -372px;
	margin-left: 262px;
	margin-top: 28px;


}
#wrapper #footer #sponsor2 {
	margin-left: 280px;
	margin-right: -609px;
	margin-top: -6px;

}
#wrapper #footer #sponsor3 {
	margin-left: 247px;
	margin-right: -882px;
	margin-top: 40px;


}
#wrapper #footer #sponsor0 {
	margin-top: -154px;
	margin-left: 464px;


}
#wrapper #footer #footer_content2 {
	margin-top: 22px;
}
