@charset "utf-8";
@font-face {
    font-family: centuryGothic;
    src: url(GOTHICB.ttf);
}

/* CSS Document */
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #151515;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;
	margin: 0;
	background-image: url(pictures/911253_46265354.jpeg);
	background-size: 2600px 1600px;
}

#wrapper {
	width: 100%;
	min-width: 1700px;
	min-height: 100%;
	max-width: 1002px;
	margin-left: auto;
	margin-right: auto;
	max-height: 1400px;
	position: relative;
	border-color: #000000;
	border-width: medium;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#footer {
	background-color: #000000;
	position: static;
	height: 180px;
	position: absolute;
	width: 99.5%;
	text-align: center;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	top: 2306px;
	float: left;
	margin-top: -1260px;
	color: #FCF9F9;
}
#footer5 {
	background-color: #000000;
	position: static;
	height: 180px;
	position: absolute;
	width: 99.5%;
	text-align: center;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	top: 2306px;
	float: left;
	margin-top: -720px;
	color: #FCF9F9;
}
#footer6 {
	background-color: #000000;
	position: static;
	height: 180px;
	position: absolute;
	width: 99.5%;
	text-align: center;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	top: 2306px;
	float: left;
	margin-top: -1706px;
	color: #FCF9F9;
}
#footer3 {
	background-color: #000000;
	position: static;
	height: 180px;
	position: absolute;
	width: 99.5%;
	text-align: center;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	top: 2306px;
	float: left;
	margin-top: -1265px;
	color: #FCF9F9;
}
#footer7 {
	background-color: #000000;
	position: static;
	height: 180px;
	position: absolute;
	width: 99.5%;
	text-align: center;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	top: 2306px;
	float: left;
	margin-top: -1057px;
	color: #FCF9F9;
}
#footer4 {
	background-color: #000000;
	position: static;
	height: 180px;
	position: absolute;
	width: 99.5%;
	text-align: center;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	float: left;
	color: #FCF9F9;
	margin-top: -5px;
}
#footer2 {
	background-color: #000000;
	position: static;
	height: 180px;
	position: absolute;
	width: 99.5%;
	text-align: center;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	top: 2306px;
	float: left;
	margin-top: -8px;
	color: #FCF9F9;
}
a {
	text-decoration: none;
	color: #FFFFFF;
}
a:link {
	border-top-left-radius: 0px;
}
a:visited {
	border-top-left-radius: 10px;
}
a:hover, a:active, a:focus {
	text-decoration: underline;
	border-top-left-radius: 10px;
}
#mainnav ul {
	list-style-type: none;
	padding-left: 33px;
	margin-top: 57px;
	margin-left: 352px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#mainnav a:hover  , #mainnav a:active, #mainnav a:focus, #mainnav a.thispage{
	border-radius: 0em;
	display: block;
	text-decoration: underline;
}

#mainnav a {
	float: left;
	text-align: center;
	display: block;
	padding-left: 21px;
	padding-right: 21px;
	font-size: 25px;
	padding-bottom: 16px;
	padding-top: 16px;
	color: #FFFFFF;
}

#wrapper #content #top {
	position: absolute;
	top: 0px;
	width: 0px;
	height: 130px;
	z-index: 4;
	padding-top: 1%;
	width: 99.5%;
	padding-left: 0px;
	font-family: "Minion Pro";
	background-image: url(pictures/1068470_34673790.jpeg);
	background-repeat: no-repeat;
	background-size: 3900px 2000px;
	background-position: 13% 61%;
	max-height: 100%;
	font-style: normal;
	margin-bottom: -251px;
}
#BUY_TICKETS {
	left: 0px;
	top: 0px;
	color: #FFFFFF;
	display: block;
	right: 94px;
	float: right;
	border: medium solid #FFFFFF;
	margin-top: -48px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 250px;
	text-align: center;
	border-radius: 10px;
	margin-right: 29px;
}
#BUY_TICKETS:hover{
	color: #FFFFFF;
	background-color: #000000;
	border-color: #000000;
}

#content #top img {
	margin-left: 19px;
	margin-top: -6px;



}
#content #top #PLAY_FOR_US {
	color: #FFFFFF;
	border-color: #FFFFFF;
	border-style: solid;
	margin-top: -48px;
	float: right;
	margin-right: 290px;
	padding-bottom: 5px;
	padding-top: 5px;
	width: 250px;
	text-align: center;
	border-radius: 10px;
}
#content #top #PLAY_FOR_US:hover{
	color: #FFFFFF;
	background-color: #000000;
	border-color: #000000;
}
#content #top #BECOME_A_MEMBER {
	color: #FFFFFF;
	width: 250px;
	border-style: solid;
	border-color: #FFFFFF;
	float: right;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-right: 30px;
	border-radius: 10px;
	position: relative;
}
#content #top #BECOME_A_MEMBER:hover{
	color: #FFFFFF;
	background-color: #000000;
	border-color: #000000;
}
#content #top #BECOME_A_VOLUNTEER {
	color: #FFFFFF;
	border-style: solid;
	border-color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 6px;
	text-align: center;
	float: right;
	margin-top: 5px;
	width: 250px;
	border-radius: 10px;
	position: relative;
}
#content #top #BECOME_A_VOLUNTEER:hover{
	color: #FFFFFF;
	background-color: #000000;
	border-color: #000000;
}

#footer #footer_content h2 {
	text-align: left;
	color: #FFFFFF;
	font-style: italic;
}
#wrapper #footer #footer_content1 {
	color: #FFFFFF;
	text-align: left;
	font-style: italic;
	margin-top: -12px;
	margin-left: 16px;
}
body p {
	position: absolute;
	top: 184px;
	right: 0px;
	left: 375px;
	font-size: large;
}
image {
	top: 0px;
	position: absolute;
}
image body {
	position: absolute;
	top: 0px;
	padding-top: 0px;
}
#wrapper #body #image1 {
	position: relative;
	top: 204px;
	width: 340px;
	height: 155px;
	left: 28px;
	padding-left: 0px;
	float: left;
}
#wrapper #body p two {
	position: fixed;
	top: 142px;
	left: 0px;
}
#wrapper #body li {
	position: fixed;
	top: 362px;
	left: 100px;
	font-size: xx-large;
}
#wrapper body1 {
	font-family: "Minion Pro";
	color: #FFFFFF;
	font-size: xx-large;
	margin-left: 54px;
	position: relative;
	margin-top: -870px;
	float: left;
}
#wrapper #body1 {
	font-family: "Minion Pro";
	color: #FFFFFF;
	font-size: xx-large;
	margin-left: 54px;
	position: relative;
	margin-top: -645px;
	float: left;
}
#wrapper #body1_become_a_member {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	color: #FFFFFF;
	font-size: x-large;
	margin-left: 54px;
	position: relative;
	margin-top: -1476px;
	float: left;
}
#wrapper #body1_buy_tickets {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	color: #FFFFFF;
	font-size: xx-large;
	margin-left: 97px;
	position: relative;
	margin-top: -814px;
	float: left;
}
#wrapper #body1_sign_in {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	color: #FFFFFF;
	font-size: xx-large;
	margin-left: 97px;
	position: relative;
	margin-top: -612px;
	float: left;
}
#wrapper #body1_notice_bulletin {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	color: #FFFFFF;
	font-size: x-large;
	margin-left: 64px;
	position: relative;
	margin-top: -1121px;
	float: left;
}
#wrapper #body1_artists  {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	color: #FFFFFF;
	font-size: xx-large;
	margin-left: 44px;
	position: relative;
	margin-top: -906px;
	float: left;
}
#wrapper #body1_artists #artists_name  {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	color: #FFFFFF;
	font-size: xx-large;
	margin-left: 422px;
	position: relative;
	margin-top: -869px;
	float: left;
}
#wrapper #body1_artists #artist_name  {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	color: #FFFFFF;
	font-size: xx-large;
	margin-left: 848px;
	position: relative;
	margin-top: -537px;
	float: left;
}
#wrapper #body2_artists  {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	color: #FFFFFF;
	font-size: xx-large;
	margin-left: 38px;
	position: relative;
	margin-top: -470px;
	float: left;
}
#wrapper #notice_1  {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	color: #FFFFFF;
	font-size: xx-large;
	margin-left: 38px;
	position: relative;
	margin-top: -421px;
	float: left;
}
#wrapper #body2_events  {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	color: #FFFFFF;
	font-size: xx-large;
	margin-left: -20px;
	position: relative;
	margin-top: -445px;
	float: left;
}
#wrapper #body1_aboutus_page  {
	font-family: "Minion Pro";
	color: #FFFFFF;
	font-size: xx-large;
	margin-left: 40px;
	position: relative;
	margin-top: -408px;
	float: left;
}
#wrapper body1_artists {
	font-family: "Minion Pro";
	font-style: italic;
	color: #FFFFFF;
	font-size: xx-large;
	margin-left: 54px;
	position: relative;
	margin-top: -388px;
	float: left;
}
#wrapper #body1 #welcome {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	color: #FFFFFF;
	text-align: left;
	margin-left: -25px;
}
#wrapper #body1 #welcome1 {
	font-family: "Minion Pro";
	font-style: italic;
	color: #FFFFFF;
	text-align: left;
}
#wrapper #body1 #artist_name {
	font-family: "Minion Pro";
	font-style: italic;
	color: #FFFFFF;
	text-align: left;
}
#wrapper #welcome_img {
	padding-top: 147px;
	opacity: 0.65;
}
#wrapper #welcome_img_become_a_member {
	padding-top: 147px;
	opacity: 0.65;
}
#wrapper #artists_background0 {
	padding-top: 147px;
	opacity: 0.65;
}
#wrapper #events_background0 {
	padding-top: 147px;
	opacity: 0.65;
}
#wrapper #bulletin_background0 {
	padding-top: 0px;
	opacity: 0.65;
}
#body1 #welcome #BECOME_A_VOLUNTEER_1 {
	width: 300px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 10px;
	margin-top: 35px;
	margin-left: 66px;
	text-align: center;
	margin-bottom: -69px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#body1 #welcome #PLAY_FOR_US_1 {
	width: 300px;
	border-color: #FFFFFF;
	border-style: solid;
	border-radius: 10px;
	margin-left: 467px;
	text-align: center;
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
#body1 #welcome #BECOME_A_VOLUNTEER_1:hover  {
	width: 300px;
	border-style: solid;
	border-color: #000000;
	border-radius: 10px;
	margin-top: 35px;
	margin-left: 66px;
	text-align: center;
	margin-bottom: -69px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000000;
	background-color: #FFFFFF;
}
#body1 #welcome #PLAY_FOR_US_1:hover  {
	width: 300px;
	border-color: #000000;
	border-style: solid;
	border-radius: 10px;
	margin-left: 467px;
	text-align: center;
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000000;
	background-color: #FFFFFF;
	margin-bottom: 30px;
}
#body1 #welcome #body1_bottom_text {
	margin-top: 11px;
	text-align: left;
	font-size: 25px;
}
#body1 #welcome #body1_top_text {
	margin-top: -15px;
	font-size: 25px;
}
#wrapper #body2 #body2_background_img {
	margin-left: 1019px;
	margin-top: -605px;
}
#wrapper #body2 {
	color: #000000;
	font-size: large;
	padding-top: 0px;
	float: left;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;



}
#wrapper #body2 #body2_text1 {
	margin-top: -608px;
	color: #FFFFFF;
	text-align: right;
	margin-right: 32px;
	font-size: large;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;

}
#wrapper #body2 #body2_text1_2 {
	color: #FFFFFF;
	margin-left: 1598px;
	font-size: large;
	margin-top: -42px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#wrapper #body2 #body2_text2 {
	color: #FFFFFF;
	font-size: large;
	margin-top: 452px;
	text-align: right;
	margin-right: 29px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#wrapper #body2 #part3 {
	z-index: 1;
	float: left;
	margin-top: 14px;



}
#wrapper #body2 #part3 #body2_background_img1 {
	opacity: 0.45;

}
#wrapper #body2 #part3 #body2_third_text1 {
	color: #000000;
	font-style: italic;
	font-size: x-large;
	margin-top: -233px;
	z-index: 2;
	margin-left: 50px;
}
#wrapper #body3 {
	position: static;
	margin-top: -312px;
	float: left;
	margin-left: 57px;
	color: #000000;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: large;



}
#wrapper #body3_background {
	position: static;
	float: left;
	margin-top: -5px;
	opacity: 0.4;

}
#wrapper #artists_background1 {
	position: static;
	float: left;
	margin-top: -901px;
	opacity: 0.5;
	margin-left: 36px;

}
#wrapper #events_background1 {
	position: static;
	float: left;
	margin-top: -883px;
	opacity: 0.5;
	margin-left: 36px;

}
#wrapper #artists_background2 {
	position: static;
	float: left;
	margin-top: -196px;
	opacity: 0.4;
	margin-left: 592px;

}
#wrapper #artists_background3 {
	float: left;
	margin-top: -469px;
	margin-left: 35px;
	opacity: 0.5;

}
#wrapper #events_background3 {
	float: left;
	margin-top: -441px;
	margin-left: 35px;
	opacity: 0.5;

}
#wrapper #body3 #welcome {
	position: relative;
	color: #000000;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: large;
}
#body3 #welcome #event1 {
}
#body3 #welcome #event1_text {
	color: #000000;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	margin-top: -186px;
	margin-left: 218px;
}
#wrapper #body3 #welcome #BUY_TICKETS_BOTTOM_1 {
	width: 150px;
	border-color: #000000;
	border-style: solid;
	border-radius: 10px;
	margin-left: 219px;
	text-align: center;
	margin-top: 21px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: x-large;
	padding-left: 10px;
	padding-right: 10px;
}
#wrapper #body3 #welcome #BUY_TICKETS_BOTTOM_1:hover  {
	width: 150px;
	border-color: #000000;
	border-style: solid;
	border-radius: 10px;
	margin-left: 219px;
	text-align: center;
	margin-top: 21px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: x-large;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #FFFFFF;
}
#body3 #welcome #event2 {
	margin-left: 561px;
	margin-top: -170px;
}
#body3 #welcome #event2_text {
	margin-top: -184px;
	margin-left: 779px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}

#wrapper #body3 #welcome #BUY_TICKETS_BOTTOM_2 {
	width: 150px;
	border-color: #000000;
	border-style: solid;
	border-radius: 10px;
	margin-left: 778px;
	text-align: center;
	margin-top: 21px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: x-large;
	padding-left: 10px;
	padding-right: 10px;
}
#wrapper #body3 #welcome #BUY_TICKETS_BOTTOM_3 {
	width: 150px;
	border-color: #000000;
	border-style: solid;
	border-radius: 10px;
	margin-left: 1374px;
	text-align: center;
	margin-top: 21px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: x-large;
	padding-left: 10px;
	padding-right: 10px;
}
#wrapper #body3 #welcome #BUY_TICKETS_BOTTOM_3:hover  {
	width: 150px;
	border-color: #000000;
	border-style: solid;
	border-radius: 10px;
	margin-left: 1374px;
	text-align: center;
	margin-top: 21px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: x-large;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #FFFFFF;
}
#wrapper #body3 #welcome #BUY_TICKETS_BOTTOM_2:hover  {
	width: 150px;
	border-color: #000000;
	border-style: solid;
	border-radius: 10px;
	margin-left: 778px;
	text-align: center;
	margin-top: 21px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: x-large;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #FFFFFF;
}
#body3 #welcome #event3 {
	margin-left: 1156px;
	margin-top: -170px;
}
#body3 #welcome #event3_text {
	margin-left: 1375px;
	margin-top: -182px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#wrapper #footer #contact {
	color: #FFFFFF;
	text-align: left;
	margin-top: -14px;
	margin-left: 15px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#wrapper #footer5 #contact {
	color: #FFFFFF;
	text-align: left;
	margin-top: -14px;
	margin-left: 15px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#wrapper #footer6 #contact {
	color: #FFFFFF;
	text-align: left;
	margin-top: -14px;
	margin-left: 15px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#wrapper #footer3 #contact_artists {
	color: #FFFFFF;
	text-align: left;
	margin-top: -14px;
	margin-left: 15px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#wrapper #footer7 #contact_artists {
	color: #FFFFFF;
	text-align: left;
	margin-top: -14px;
	margin-left: 15px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#wrapper #footer4 #contact_events {
	color: #FFFFFF;
	text-align: left;
	margin-top: -14px;
	margin-left: 15px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#wrapper #footer2 #contact_about {
	color: #FFFFFF;
	text-align: left;
	margin-top: -14px;
	margin-left: 15px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#contact strong h2 {
	margin-top: 19px;
	margin-bottom: 4px;
}
#footer #contact #fblogo {
	padding-top: 0px;
	margin-top: -127px;
	margin-left: 464px;
}
#footer5 #contact #fblogo {
	padding-top: 0px;
	margin-top: -127px;
	margin-left: 464px;
}
#footer6 #contact #fblogo {
	padding-top: 0px;
	margin-top: -127px;
	margin-left: 464px;
}
#footer3 #contact_artists #fblogo_artists {
	padding-top: 0px;
	margin-top: -127px;
	margin-left: 464px;
}
#footer7 #contact_artists #fblogo_artists {
	padding-top: 0px;
	margin-top: -127px;
	margin-left: 464px;
}
#footer4 #contact_events #fblogo_events {
	padding-top: 0px;
	margin-top: -127px;
	margin-left: 464px;
}
#footer #contact #links1 {
	margin-left: 694px;
	margin-top: -88px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: x-large;
}
#footer5 #contact #links1 {
	margin-left: 694px;
	margin-top: -88px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: x-large;
}
#footer6 #contact #links1 {
	margin-left: 694px;
	margin-top: -88px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: x-large;
}
#footer3 #contact_artists #links1_artists {
	margin-left: 694px;
	margin-top: -88px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: x-large;
}
#footer7 #contact_artists #links1_artists {
	margin-left: 694px;
	margin-top: -88px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: x-large;
}
#footer4 #contact_events #links1_events {
	margin-left: 694px;
	margin-top: -88px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: x-large;
}
#footer2 #contact_about #links1_about {
	margin-left: 694px;
	margin-top: -88px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: x-large;
}
#footer #contact #links2 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	margin-left: 824px;
	margin-top: -128px;
	font-size: x-large;
}
#footer5 #contact #links2 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	margin-left: 824px;
	margin-top: -128px;
	font-size: x-large;
}
#footer6 #contact #links2 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	margin-left: 824px;
	margin-top: -128px;
	font-size: x-large;
}
#footer3 #contact_artists #links2_artists {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	margin-left: 824px;
	margin-top: -128px;
	font-size: x-large;
}
#footer7 #contact_artists #links2_artists {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	margin-left: 824px;
	margin-top: -128px;
	font-size: x-large;
}
#footer4 #contact_events #links2_events {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	margin-left: 824px;
	margin-top: -128px;
	font-size: x-large;
}
#footer2 #contact_about #links2_about {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	margin-left: 824px;
	margin-top: -128px;
	font-size: x-large;
}
#wrapper #footer #sponsors {
	margin-top: -166px;
	color: #FFFFFF;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	text-align: right;
	margin-right: 27px;
	margin-left: 616px;
}
#wrapper #footer5 #sponsors {
	margin-top: -166px;
	color: #FFFFFF;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	text-align: right;
	margin-right: 27px;
	margin-left: 616px;
}
#wrapper #footer6 #sponsors {
	margin-top: -166px;
	color: #FFFFFF;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	text-align: right;
	margin-right: 27px;
	margin-left: 616px;
}
#wrapper #footer3 #sponsors_artists {
	margin-top: -166px;
	color: #FFFFFF;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	text-align: right;
	margin-right: 27px;
	margin-left: 616px;
}
#wrapper #footer7 #sponsors_artists {
	margin-top: -166px;
	color: #FFFFFF;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	text-align: right;
	margin-right: 27px;
	margin-left: 616px;
}
#wrapper #footer4 #sponsors_events {
	margin-top: -166px;
	color: #FFFFFF;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	text-align: right;
	margin-right: 27px;
	margin-left: 616px;
}
#wrapper #footer2 #sponsors_about {
	margin-top: -166px;
	color: #FFFFFF;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	text-align: right;
	margin-right: 27px;
	margin-left: 616px;
}
#footer #sponsors #sponsor1 {
	margin-right: 377px;
	margin-top: 22px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#footer5 #sponsors #sponsor1 {
	margin-right: 377px;
	margin-top: 22px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#footer6 #sponsors #sponsor1 {
	margin-right: 377px;
	margin-top: 22px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#footer3 #sponsors_artists #sponsor1_artists {
	margin-right: 377px;
	margin-top: 22px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#footer7 #sponsors_artists #sponsor1_artists {
	margin-right: 377px;
	margin-top: 22px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#footer4 #sponsors_events #sponsor1_events {
	margin-right: 377px;
	margin-top: 22px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#footer2 #sponsors_about #sponsor1_about {
	margin-right: 377px;
	margin-top: 22px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#footer #sponsors #sponsor2 {
	margin-right: 191px;
	margin-top: -93px;

}
#footer5 #sponsors #sponsor2 {
	margin-right: 191px;
	margin-top: -93px;

}
#footer6 #sponsors #sponsor2 {
	margin-right: 191px;
	margin-top: -93px;

}
#footer3 #sponsors_artists #sponsor2_artists {
	margin-right: 191px;
	margin-top: -93px;

}
#footer7 #sponsors_artists #sponsor2_artists {
	margin-right: 191px;
	margin-top: -93px;

}
#footer4 #sponsors_events #sponsor2_events {
	margin-right: 191px;
	margin-top: -93px;

}
#footer2 #sponsors_about #sponsor2_about {
	margin-right: 191px;
	margin-top: -93px;

}
#footer #sponsors #sponsor3 {
	margin-top: -87px;
	margin-right: 9px;
}
#footer5 #sponsors #sponsor3 {
	margin-top: -87px;
	margin-right: 9px;
}
#footer6 #sponsors #sponsor3 {
	margin-top: -87px;
	margin-right: 9px;
}
#footer3 #sponsors_artists #sponsor3_artists {
	margin-top: -87px;
	margin-right: 9px;
}
#footer7 #sponsors_artists #sponsor3_artists {
	margin-top: -87px;
	margin-right: 9px;
}
#footer4 #sponsors_events #sponsor3_events {
	margin-top: -87px;
	margin-right: 9px;
}
#footer2 #sponsors_about #sponsor3_about {
	margin-top: -87px;
	margin-right: 9px;
}
#wrapper #body1_artists #artists_artist1 {
	margin-top: 22px;
	margin-bottom: -399px;
	margin-left: 14px;
}
#wrapper #body1_artists #artists_artist1 {
	margin-top: 22px;
	margin-bottom: 173px;
	margin-left: 14px;
}
#wrapper #body1_events #events_events1 {
	margin-top: 22px;
	margin-bottom: -399px;
	margin-left: 14px;
}
#wrapper #body2_artists #artists_artist2 {
	margin-top: 22px;
	margin-bottom: -399px;
	margin-left: 14px;
}
#wrapper #notice_1 #notice_notice {
	margin-top: 22px;
	margin-bottom: -399px;
	margin-left: 14px;
}
#wrapper #body2_events #events_artist2 {
	margin-top: 22px;
	margin-bottom: -399px;
	margin-left: 14px;
}
#wrapper #body2_events #events_events2 {
	margin-left: 14px;
	padding-top: 16px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	text-align: center;
	margin-top: 5px;
	margin-right: 621px;
}
#wrapper #body1_events #events_name {
	margin-left: 695px;
	padding-top: 16px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	text-align: center;
}
#wrapper #body2_artists #artist_name2 {
	margin-left: 808px;
	padding-top: 16px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	text-align: center;
}
#wrapper #notice_1 #notice_title {
	margin-left: 38px;
	padding-top: 16px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	text-align: left;
	margin-top: -42px;
	font-size: 20px;
}
#wrapper #body2_events #artist_name2 {
	margin-left: 808px;
	padding-top: 16px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	text-align: center;
}
#wrapper #body2_events #events_name2 {
	margin-top: -386px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	margin-left: 847px;
	margin-right: -260px;

}
#body1_events #events_name #events_artist_text {
	margin-top: 80px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	margin-left: -332px;

}
#body2_artists #artist_name2 #artists_events_text2 {
	margin-top: 80px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	margin-left: -330px;

}
#notice_1 #notice_title #notice_text1 {
	margin-top: -92px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	margin-left: 579px;

}
#body2_events #events_name2 #events_artist_text2 {
	margin-top: 80px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	margin-left: -59px;

}
#artist_name #artists_events_text #event1_details {
	margin-left: 299px;
	margin-top: -86px;
}
#events_name #events_artist_text #artist1_details {
	margin-left: 607px;
	margin-top: -86px;
}
#artist_name2 #artists_events_text2 #event1_details2 {
	margin-left: 607px;
	margin-top: -86px;
}
#notice_title #notice_text1 #notice_details1 {
	margin-left: -498px;
	margin-top: 84px;
	text-align: left;
}
#events_name2 #events_artist_text2 #artist1_details2 {
	margin-left: 166px;
	margin-top: -86px;
}
#contact #links1 .nav-link {
	color: #FFFFFF;
	padding-top: 0px;
}
#content #top #mainnav {
	margin-top: -161px;
	margin-left: -105px;
	color: #FFFFFF;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#content #top #second_nav {
	margin-top: 95px;
	font-size: 25px;
	color: #FFFFFF;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#content #top #header_transparent_background {
	opacity: 0.8;
	margin-top: -22px;
	margin-bottom: -256px;
}
#artist_name #artists_events_text #more_info1 {
	margin-top: 101px;
	margin-left: 240px;
	font-size: 25px;
}
#events_name #events_artist_text #more_info2 {
	margin-top: 101px;
	margin-left: 325px;
	font-size: 25px;
}
#artist_name2 #artists_events_text2 #more_info2 {
	margin-top: 101px;
	margin-left: 325px;
	font-size: 25px;
}
#events_name2 #events_artist_text2 #more_info4 {
	margin-top: 101px;
	margin-left: 158px;
	font-size: 25px;
}
#body1 #welcome #welcome_title {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 30px;
}
.image5 {
	position: absolute;
	top: 333px;
	width: 82.5%;
	height: 1627px;
	opacity: 0.92;
	left: 108px;
}

body img {
	top: 15px;
}
.image2 {
	position: absolute;
	top: 149px;
	left: 0px;
	opacity: 0.73;
	height: 2150px;
	background-color: #FCFCFC;
	width: 99.5%;
	margin-top: -2px;
}
.image3 {
	position: absolute;
	top: 226px;
	left: 26px;
	opacity: 0.49;
}
.body_content {
	position: relative;
	top: 299px;
	left: 134px;
	color: #FFFFFF;
}
.image4 {
	position: absolute;
	top: 627px;
	right: 0px;
	left: 22px;
	opacity: 1;
	width: 608px;
	height: 410px;
}
.body_content2 {
	position: relative;
	top: 517px;
	left: 30px;
	color: #171717;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
.body_content3 {
}
.body_conten3 {
}
.body_content3 {
	position: absolute;
	top: 612px;
	left: 709px;
	color: #000000;
	font-size: large;
	text-align: justify;
	right: -24px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	margin-left: -13px;
}
#footer2 #contact_about #fblogo_about {
	margin-top: -127px;
	margin-left: 464px;
}
#wrapper #body2_artists #artists_background3 {
	margin-left: 862px;
	margin-top: -328px;
}
#wrapper #body2_artists #artist_name_1 {
	margin-top: -323px;
	margin-left: 910px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#body1_artists #artist_name #artists_events_text {
	margin-left: -173px;
}

#top #second_nav #BECOME_A_MEMBER.thispage {
	border-color: #000000;
	background-color: #000000;
	text-decoration: underline;
}
#top #second_nav #BUY_TICKETS.thispage {
	border-color: #000000;
	background-color: #000000;
	text-decoration: underline;
}
#wrapper #become_a_member_body1 {
	color: #FFFFFF;
	float: left;
	margin-top: 65px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#wrapper #buy_tickets_body1 {
	color: #FFFFFF;
	float: left;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#wrapper #sign_in_body1 {
	color: #FFFFFF;
	float: left;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#wrapper #welcome_img_become_a_member {
	opacity: 0.74;
}
#wrapper #welcome_img_sign_in {
	opacity: 0.74;
}
#wrapper #become_a_member_body1 form {
	margin-top: 35px;
}
#wrapper #buy_tickets_form  {
	margin-top: 35px;
}
#wrapper #become_a_member_body1 #become_a_member_text {
	margin-left: 166px;
}
#become_a_member_body1 #become_a_member_text h1 {
	margin-left: 204px;
}
#wrapper form {
	color: #FFFFFF;
	margin-top: 66px;
}
#wrapper #become_a_member_body1 #become_a_member_body1_text1 {
	margin-top: 0px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;

}
#wrapper #buy_tickets_body1 #buy_tickets_body1_text1 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: x-large;
	margin-top: 242px;
	margin-left: -40px;

}
#wrapper #sign_in_body1 #sign_in_body1_text1 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: x-large;
	margin-top: 175px;
	margin-left: -40px;

}
#wrapper #becoem_a_member_background {
	opacity: 0.5;
	margin-top: -24px;
	margin-bottom: -1738px;
	z-index: -2;
}
#wrapper .become_a_member_background {
	margin-top: 146px;
	margin-bottom: -500px;
	z-index: -1;
	opacity: 0.5;

#content .buy_tickets input {
	top: 48px;
	position: absolute;
	left: 184px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: x-large;
}
#content .buy_tickets form {
	position: absolute;
	top: 155px;
	color: #FFFBFC;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: xx-large;
	text-align: center;
	width: 251px;
}
#wrapper #content .buy_tickets {
	position: absolute;
	top: 296px;
}
.buy_tickets form #event {
	top: 85px;
	position: absolute;
	left: 197px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: xx-large;
}
.buy_tickets form #payment {
	position: absolute;
	top: 121px;
	left: 251px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: xx-large;
}
.buy_tickets form submit {
	position: absolute;
}
.submit {
	position: absolute;
	top: 178px;
	left: 208px;
	font-size: xx-large;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
.amount {
	position: absolute;
	top: 118px;
	padding-top: 218px;
}
.reset {
	position: absolute;
	top: 178px;
	left: 87px;
	font-size: xx-large;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#wrapper .buy_tickets {
	margin-top: 1069px;
}
#buy_tickets_body1 #buy_tickets_body1_text1 form {



}
#buy_tickets_body1_text1 form label {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#content .buy_tickets input {
	position: absolute;
	top: 298px;
}
#wrapper #post_notice form {
	position: static;
}
#wrapper #post_notice {
	position: static;
	margin-top: -510px;

}
#wrapper #body1_notice_bulletin form {
}
#sign_in_body1 #sign_in_body1_text1 form {
	margin-top: -154px;
}
