@charset "utf-8";
/* CSS Document */
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #151515;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	background-color: #EFF5F8;
	overflow-y: scroll;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
}

#wrapper {
	background-color: #FFFFFF;
	background-image: url("spike.jpg");
	background-repeat: no-repeat;
	width: 100%;
	min-width: 1432px;
	min-height: 100%;
	max-width: 1002px;
	margin-left: auto;
	margin-right: auto;
	border-right-width: thin;
	border-right-style: solid;
	border-left-width: thin;
	border-left-style: solid;
	border-top: thin solid #000000;
	max-height: 1400px;
	position: relative;
	padding-top: 2px;
	padding-bottom: 2px;
}
#footer {
	clear: both;
	background-color: #000000;
	border-top: thin solid #000000;
	border-bottom: thin solid #000000;
	clear: both;
	position: relative;
	z-index: 10;
	height: 178px;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding-top: 2px;
}
a {
	font-weight: bold;
	text-decoration: none;
}
a:link {
	color: #000DFF;
	border-top-left-radius: 0px;
	display: block;
}
a:visited {
	color: #0200FF;
	border-top-left-radius: 10px;
}
a:hover, a:active, a:focus {
	text-decoration: underline;
	border-top-left-radius: 10px;
	display: block;
}
#mainnav ul {
	list-style-type: none;
	padding-left: 33px;
	border: thin solid #000000;
	margin-top: 119px;
	margin-left: 438px;
}
#mainnav a:hover  , #mainnav a:active, #mainnav a:focus, #mainnav a.thispage{
	background-color: #AEB193;
	color: #000000;
	border-radius: 0em;
	display: block;
}

#mainnav a {
	float: left;
	text-align: center;
	background-color: #000000;
	border-bottom: thin solid #000000;
	color: #FFFFFF;
	display: block;
	padding-left: 21px;
	padding-right: 21px;
	font-size: 30px;
	padding-bottom: 16px;
	padding-top: 16px;
}

#wrapper #content #top {
	background-color: rgb(0, 0, 0);
	position: absolute;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 189px;
	z-index: 4;
	padding-top: 1%;
	min-width: 1432px;
	width: 100%;
}
#VOLUNTEER {
	position: static;
	left: 0px;
	top: 0px;
	z-index: 52;
	color: #FFFFFF;
	display: block;
	right: 94px;
	float: right;
	font-size: 20px;
	border: medium solid #FFFFFF;
	margin-top: -138px;
	margin-right: 8px;
	padding-top: 25px;
	padding-bottom: 25px;
	width: 180px;
	text-align: center;
	border-radius: 10px;
}
.Rounded_Rectangle_1 {
  border-width: 3px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 5px;
  position: absolute;
  left: 1314px;
  top: 30px;
  width: 211px;
  height: 47px;
  z-index: 50;
}

#content #top img {
	float: left;
	margin-left: 40px;
	margin-top: 28px;
}
#content #top #BECOME_A_MEMBER {
	color: #FFFFFF;
	font-size: 20px;
	border-color: #FFFFFF;
	border-style: solid;
	margin-top: -138px;
	float: right;
	margin-right: 202px;
	padding-bottom: 25px;
	padding-top: 25px;
	width: 180px;
	text-align: center;
	border-radius: 10px;
}
#content #top #ARTIST_SIGN-UP {
	color: #FFFFFF;
	font-size: 20px;
	width: 180px;
	border-style: solid;
	border-color: #FFFFFF;
	float: right;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: -45px;
	margin-right: 8px;
	border-radius: 10px;
}
#content #top #BUY_TICKETS {
	color: #FFFFFF;
	font-size: 20px;
	border-style: solid;
	border-color: #FFFFFF;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-right: 202px;
	text-align: center;
	float: right;
	margin-top: -80px;
	width: 180px;
	border-radius: 10px;
}
#footer #footer_content h2 {
	text-align: left;
	color: #FFFFFF;
}
#wrapper #footer #footer_content {
	color: #FFFFFF;
	text-align: left;
	margin-left: 29px;
	margin-top: -7px;
}
#wrapper #footer img {
	float: right;
	margin-right: 165px;
	margin-top: -99px;

}
