
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
    color: #428bca;
}
nav {
    background-color: #eee;
    padding: 5px;
}
nav a {
    width: 10em;
    text-align: center;
    display: inline-block;
    background-color: white;
    padding: 5px;
    border: thin solid #428bca;
    border-radius: 10px;
}
nav a[href*="logout"] {
    background-color:azure;
}
nav a:hover {
    background-color: azure;
}

form#login {
    border: thin black solid;
    border-radius: 20px;
    padding: 30px;
    width: 20em;
}
form#login input:not([type="submit"]) {
    margin-left: 1em;
}
form#login label {
    width: 6em;
    float: left;
    clear: both;
}
input[type="submit"] {
    background-color: white;
    color: #428bca;
    margin-top: 0.6em;
}
